<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.css}" />
    <meta charset="UTF-8">
    <title>Navbar</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="Navbar">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <div sec:authorize="isAuthenticated()">
            <li class="nav-item active">
                <!--                <form class="form-control" th:replace="user-search :: search-email"/>-->
                <a class="nav-link" th:href="@{/books}">Books</a>
            </li>
            </div>
<!--            <li class="nav-item">-->
            <!--            Add sec:authorize to make only ADMIN accessible to Create User-->
            <li sec:authorize="isAnonymous() || hasAuthority('ADMIN')" class="nav-item">
                <a class="nav-link" th:href="@{/create/user}">Create user</a>
            </li>
        </ul>
        <form th:action="@{/logout}" action="#" class="form-inline" method="post">
            <div sec:authorize="isAuthenticated()">
                <button class="btn btn-outline-info" type="submit" value="Logout">Logout</button>
            </div>
            <div sec:authorize="isAnonymous()">
                <a class="btn btn-outline-info" th:href="@{/login}" href="#" value="Login">Login</a>
            </div>
        </form>
    </div>
</nav>
</body>
</html>